USE [master]
GO
/****** Object:  Database [SiirWebSite]    Script Date: 19.10.2025 18:11:05 ******/
CREATE DATABASE [SiirWebSite]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SiirWebSite', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SiirWebSite.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SiirWebSite_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\SiirWebSite_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SiirWebSite].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SiirWebSite]
GO
/****** Object:  User [Zisan]    Script Date: 19.10.2025 18:11:05 ******/
CREATE USER [Zisan] FOR LOGIN [Zisan] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [yuce]    Script Date: 19.10.2025 18:11:05 ******/
CREATE USER [yuce] FOR LOGIN [yuce] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 19.10.2025 18:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[AdminID] [int] NOT NULL,
	[AdminAdSoyad] [varchar](30) NOT NULL,
	[Gorev] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[AdminID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Begeni]    Script Date: 19.10.2025 18:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Begeni](
	[BegeniID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[SiirID] [int] NOT NULL,
 CONSTRAINT [PK_Begeni] PRIMARY KEY CLUSTERED 
(
	[BegeniID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 19.10.2025 18:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[KategoriID] [int] NOT NULL,
	[KategoriAd] [varchar](30) NOT NULL,
 CONSTRAINT [PK_Kategori] PRIMARY KEY CLUSTERED 
(
	[KategoriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 19.10.2025 18:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[KullaniciID] [int] NOT NULL,
	[KullaniciAdSoyad] [varchar](50) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[Sifre] [varchar](15) NOT NULL,
	[KayıtTarihi] [datetime] NOT NULL,
	[Cinsiyet] [varchar](5) NOT NULL,
	[TelNo] [varchar](11) NOT NULL,
	[DoğumTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[KullaniciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OkumaListesi]    Script Date: 19.10.2025 18:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OkumaListesi](
	[OkumaListeID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[SiirID] [int] NOT NULL,
 CONSTRAINT [PK_OkumaListesi] PRIMARY KEY CLUSTERED 
(
	[OkumaListeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sair]    Script Date: 19.10.2025 18:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sair](
	[SairID] [int] NOT NULL,
	[SairAdSoyad] [varchar](30) NOT NULL,
	[DogumTarihi] [datetime] NOT NULL,
	[OlumTarihi] [datetime] NULL,
	[Biyografi] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Sair] PRIMARY KEY CLUSTERED 
(
	[SairID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siir]    Script Date: 19.10.2025 18:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siir](
	[SiirID] [int] NOT NULL,
	[SairID] [int] NOT NULL,
	[KategoriID] [int] NOT NULL,
	[SiirBaslık] [varchar](30) NOT NULL,
	[SiirIcerik] [nvarchar](max) NOT NULL,
	[YazımTarihi] [datetime] NOT NULL,
 CONSTRAINT [PK_Siir] PRIMARY KEY CLUSTERED 
(
	[SiirID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Yorum]    Script Date: 19.10.2025 18:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Yorum](
	[YorumID] [int] NOT NULL,
	[KullaniciID] [int] NOT NULL,
	[SiirID] [int] NOT NULL,
	[YorumIcerik] [varchar](150) NOT NULL,
	[YorumTarih] [datetime] NOT NULL,
 CONSTRAINT [PK_Yorum] PRIMARY KEY CLUSTERED 
(
	[YorumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Kullanici] FOREIGN KEY([KullaniciID])
REFERENCES [dbo].[Kullanici] ([KullaniciID])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_Kullanici_Kullanici]
GO
/****** Object:  StoredProcedure [dbo].[SairinSiirleri]    Script Date: 19.10.2025 18:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SairinSiirleri]
    @SairAdSoyad NVARCHAR(100)
AS
BEGIN
    SELECT SiirBaslık, YazımTarihi
    FROM Siir
    INNER JOIN Sair ON Siir.SairID = Sair.SairID
    WHERE Sair.SairAdSoyad = @SairAdSoyad;
END;











GO
/****** Object:  StoredProcedure [dbo].[SiirYorumlari]    Script Date: 19.10.2025 18:11:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SiirYorumlari]
    @SiirID INT
AS
BEGIN
    SELECT Kullanici.KullaniciAdSoyad, YorumIcerik, YorumTarih
    FROM Yorum
    INNER JOIN Kullanici ON Yorum.KullaniciID = Kullanici.KullaniciID
    WHERE Yorum.SiirID = @SiirID;
END;







GO
USE [master]
GO
